<div class="shop-zone">
<button class="button btn" value="Submit" (click)="goHome()">Home </button>
<h2>Your Order Preview</h2>


<table border="1" align="center" style="width:800px;height:400px">
    <tr>
        <!-- <th>Option</th> -->
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    <tr *ngFor="let item of items">

        <td align="center">{{item.product.id}}</td>
        <td align="center">{{item.product.name}}</td>
        <td align="center">
            <img src="{{item.product.photo}}" width="50">
        </td>
        <td align="center">{{item.product.price}}</td>
        <td align="center">{{item.quantity}}</td>
        <td align="center">{{item.product.price * item.quantity}}</td>
    </tr>
    <tr>
        <td colspan="5" align="right"><b>Total&nbsp;</b></td>
        <td align="center">{{total}}</td>
    </tr>
</table>
  <ng-template #content let-c="close" let-d="dismiss" let-modal>
    <div id="custom-modal-1">
      <div class="modal-content">
      <p>Thank you for shopping in Meiu's Online Portal...Your Order has been placed!!!</p>
      <button class="button btn" (click)="goHome();modal.close()">Okay</button>
      </div>
    </div>
  </ng-template>
<button class="button btn" (click)="openModal(content)">Place Order</button>
</div>

