.layout {
  display: flex;
  height: 100%;
  &-left {
    display: flex;
    justify-content: center;
    flex: 6;
  }
  &-center {
    flex: 5;
  }
  &-right {
    flex: 4;
  }
  div {
    background-color: lightcyan;
  }
}