.shop-zone {
 
  display: flex;
   text-align: justify;
  text-justify: inter-word;

    background-image: url("https://image.freepik.com/free-photo/frame-made-with-colorful-brush-strokes-design-with-space-writing-text-white-backdrop_23-2148153354.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   height: 100%;
  opacity:0.9;
}
h1{
  color: rgb(255, 81, 0)
}
img{
  width: 100%
}
.cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 

    padding: 10px;
    margin: 10px;

    background-color: green;
    border: 1px solid red;
    text-align: center;

}