<div class="shop-zone">
<app-side-bar class="side-bar"></app-side-bar>
<h1>About Us</h1>&nbsp;&nbsp;&nbsp;
<p>Meiu's Portal is the leading software development services providing company of Delhi, India that develops software solutions
for its clients, giving them advanced technology software online to enable them become one-point solution provider for their
own clients. Royal Cube Technologies is a professional web design and development company based in Delhi Ncr, India. Royal
Cube a full specialist co-op for corporate or individual keen on planning their outline and improvement needs of online tasks.
Royal Cube has been qualified to give the best of administrations to our customers over the world staying to our times of
involvement in web design and web development. Royal cube is one of the Delhi's driving website design, web promotion, software
development and web development organization. We give time bound, cost effective and value added services for technology
innovative business solutions that require specialized domain expertise. We also provide responsive website designing.</p>


    <div class="cell">
      <img src="https://www.nicepng.com/png/detail/6-62376_phoenix-png-image-phoenix-icon-png.png"/>
      <h3>Contact us</h3>
      <p>email Id: meiu00762@gmail.com</p>
      <p>Mobile : +91-8220327738.</p>
    </div>



</div>


