input{
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  background-color: light grey;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

input:focus {
  background-color: #ddd;
  outline: none;
}
label{
color:blue
}
h1{
  text-align: center
}
button {
  background-color: rgb(0, 255, 21);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: red;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signupbtn {
  float: center;
  width: 10%;
}

.bg
{
  background-image: url("https://southeastasia1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Fwipro365-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!I13w5S6dhE6zXq8v6-_CFaNB2oXWWbxPpAjYjqqU3n7-sQCGbBysQapp2db9yFN_%2Fitems%2F01MP4EGR64V77V3ZRBMRHKD6ZHA5TTW5PV%3Fversion%3DPublished&encodeFailures=1&ctag=%22c%3A%7B5DFFAFDC-21E6-4E64-A1FB-2707673B75F5%7D%2C2%22&srcWidth=&srcHeight=&width=1366&height=655&action=Access");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  opacity:0.9;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}