<div class="container"> 
   <button value="Submit" (click)="goHome()" align="right">Home </button>
  <h2 align="center">Checkout</h2>
  <form>
    <div class="row">
      
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">State</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option>-----Select Your State----</option>
          <option value="New Delhi">New Delhi</option>
          <option value="Andaman/Nicobar Islands">Andaman/Nicobar Islands</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Pondicherry">Pondicherry</option>
                    <option value="Rajasthan">Rajasthan</option>
          <option value="Manipur">Manipur</option>
          <option value="Maharashtra">Maharashtra</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Full Address</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <button value="Submit" (click)="onNavigate()">Submit </button>
    </div>
  </form>
  <p>*please fill out all your details correctly.</p>
</div>