.side-bar {
  background-color: #5a5a5a;
  border: 1px solid black;
  transition: margin 0.5s ease-in-out;
  height: 100%;
  width: 300px;
  margin-left: 0;
  position: relative;
  &.closed {
    margin-left: -300px;
  }
  &-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 100%;
    background-color: whitesmoke;
    border-radius: 0 5px 5px 0;
  }
}