.side-bar {
  background-color:rgb(210, 213, 250);
  border: 1px solid rgba(0, 255, 200, 0.404);
  transition: margin 0.5s ease-in-out;
  height: 100%;
  width: 150px;
  margin-left: 0;
  position: relative;
  &.closed {
    margin-left: -150px;
  }
  &-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 100%;
    background-color: lightskyblue;
    border-radius: 0 5px 5px 0;
  }
}

.dropbtn {  
    background-color: #4CAF50;    
color: white;    
padding: 16px;    
font-size: 16px;    
border: none;    
}    
    
.dropdown {    
position: relative;    
display: inline-block;    
}    
    
.dropdown-content {    
display: none;    
position: absolute;    
background-color: #f1f1f1;  
    min-width: 160px;  
    box-shadow: 0 px 8 px 16 px 0 px rgba(0, 0, 0, 0.2);  
    z-index:1;  
}
.dropdown -content a {  
        color: black;  
        padding: 12 px 16 px;  
        text-decoration: none;  
        display: block;  
    }
    .dropdown-content a :hover {  
        background-color: #ddd;  
    }.dropdown:hover.dropdown-content {  
        display: block;  
    }.dropdown:hover.dropbtn {  
        background-color: #3e8e41;} 
