.side-bar {
  background-color:lightgoldenrodyellow;
  border: 1px solid rgb(89, 0, 255);
  transition: margin 0.5s ease-in-out;
  height: 100%;
  width: 150px;
  margin-left: 0;
  position: relative;
  &.closed {
    margin-left: -150px;
  }
  &-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 100%;
    background-color: lightskyblue;
    border-radius: 0 5px 5px 0;
  }
}